<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body class="sb-nav-fixed">
<nav th:replace="fragments/nav :: nav"></nav>
<div th:replace="fragments/sidenav :: sidenav"></div>

<div class="container">
    <h1 class="mt-4">문제</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">문제 확인.</li>
    </ol>
    <div>
        <div class="form-group">
            <label for='question'>문제</label>
            <textarea rows='5' id='question' name='question' class='form-control w-100' readonly>[[${question.question}]]</textarea>
        </div>
        <div th:each="example : ${examples}" class="form-group">
            <label th:attr='for=example + ${example.id}'>보기 [[${example.id}]]</label>
            <input type='text' th:attr='id=example + ${example.id}, name=examples[+ ${example.id} +].example' class='form-control' th:value="${example.example}" readonly>
        </div>
        <div>

        </div>
    </div>
</div>

<div th:fragment="fragments/footer :: footer"></div>
<th:block th:include="fragments/config :: config"></th:block>
</body>
</html>
